.course-body{
    background-color: rgb(74, 74, 207);
    /* margin-top: 3rem; */
    padding-top: 5rem;
    padding-bottom: 25rem;
}

.course-font{
   font-weight: bold;
   color: rgb(74, 74, 207);
}

.course-cat{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 1rem; 
}
 
 