.card {
    width: 12rem;
    height: auto;
    margin-bottom: 2rem;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;
}

.card-body {
    padding: 0.5rem 0 !important;
    border-radius: 100%;
  
}

.card-text {
    font-size: 0.8rem;
    padding: 0.1rem 0.4rem;
    color: rgb(74, 74, 207);
}

.container-fluid .row {
    padding-top: 2rem;
}

.card-img-top {
    height: 6rem;
}

.container-fluid-2 .row{
    padding-top: 2rem;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
    font-size: larger;
}

button{
    margin: 0px;
    padding: 0px;
}

